.frame{
    display: flex;
   
}
.left{
    background-color:aqua;
    flex: none;
    width: 50%;
}
.right{
    display: flex;
    justify-content: flex-start;
    background-color:mediumpurple;
    flex: none;
    width: 50%;
}
.item{
    background-color:pink;
    width:50px;
    margin-right: 10px;
    text-align: center;
}